<section id="team" class="team">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>All Angular Developers</h2>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up">
          <div class="member-img">
            <img
              src="../../../../assets/siddhesh-details-image.png"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Siddhesh Tripathi</h4>
            <span class="text-success">Available</span>
            <a
              class="btn btn-block btn-warning"
              routerLink="/developer-detail-page/sid"
              >Get Him</a
            >
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="../../../../assets/churan.png" class="img-fluid" alt="" />
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Sandeep Yadav</h4>
            <span class="text-danger">Not Available</span>
            <a
              class="btn btn-block btn-dark"
              routerLink="/developer-detail-page/sid"
              >Get Him</a
            >
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img
              src="../../../../assets/siddhesh-details-image.png"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Sandeep Yadav</h4>
            <span class="text-success">Available</span>
            <a
              class="btn btn-block btn-warning"
              routerLink="/developer-detail-page/sid"
              >Get Him</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="container">
    <div class="row">
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button
          type="button"
          onclick="this.parentNode.parentNode.removeChild(this.parentNode);"
          class="close"
          data-dismiss="alert"
        >
          <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <!-- <strong><i class="fa fa-success"></i> Danger!</strong> -->
<!-- <marquee
          ><p style="font-family: Impact; font-size: 18pt">
            All the below listed developer will only resopnse you.When they have
            time.
          </p></marquee
        >
      </div>
    </div>
  </div>  -->
