/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  /* background-color: rgb(46, 142, 187); */
  background-image: url("../../../../assets/resister-img.png");
  background-size: cover;
  background-position: center center;
}
.card {
  background-color: rgb(46, 142, 187);
}
