<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Services</h2>
      <p>What we do offer</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box" data-aos="zoom-in-left">
          <div class="icon">
            <i class="fa fa-globe" style="color: #ff689b"></i>
          </div>
          <h4 class="title"><a href="">Hire Developers</a></h4>
          <p class="description">
            We give a platform where you can hire developers and pay according
            to your work.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
        <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
          <div class="icon">
            <i class="fa fa-book" style="color: #e9bf06"></i>
          </div>
          <h4 class="title"><a href="">To Bid of Projects</a></h4>
          <p class="description">
            We give accessbilty to push your projects on our website. After that
            our developer contact with you.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
        <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
          <div class="icon">
            <i class="fa fa-meetup" style="color: #3fcdc7"></i>
          </div>
          <h4 class="title"><a href="">Freelancers</a></h4>
          <p class="description">
            You can also hire many developer accorfing to your work at one time.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
