<div class="container">
  <h2 class="text-center">Total Requests</h2>
  <hr />
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <img
            src="../../../../assets/siddhesh-details-image.png"
            height="64"
            width="64"
            class="float-left rounded-circle"
          />
          <div class="message">
            <h5 class="card-title"><b> For :</b>Angular Developer</h5>
            <h6 class="card-subtitle mb-2 text-muted">Siddhesh Tripathi</h6>
            <a href="#" class="btn btn-warning card-link">Review</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <img
            src="../../../../assets/churan.png"
            height="64"
            width="64"
            class="float-left rounded-circle"
          />
          <div class="message">
            <h5 class="card-title"><b> For :</b>AI/ML Developer</h5>
            <h6 class="card-subtitle mb-2 text-muted">Sandeep Yadav</h6>
            <div>
              <a href="#" class="btn btn-warning card-link">Review</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mt-1">
      <div class="card">
        <div class="card-body">
          <img
            src="../../../../assets/android-pic.png"
            height="64"
            width="64"
            class="float-left rounded-circle"
          />
          <div class="message">
            <h5 class="card-title"><b> For :</b>Angular Developer</h5>
            <h6 class="card-subtitle mb-2 text-muted">Siddhesh Tripathi</h6>
            <a href="#" class="btn btn-warning card-link">Review</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
