<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>TASKAPP</h4>
            <ul class="list-unstyled">
              <li>
                <p>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    TASKAPP India Pvt Ltd, <br />
                    Lovely Professional University, Phagwara, Punjab –
                    144401,India
                    <br />
                    <i class="fa fa-phone"></i> +91 8917060988
                  </span>
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Company</h4>
            <ul class="list-unstyled">
              <li><a href="#">Website Tutorial</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Webmaster</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Hire Developers</h4>
            <ul class="list-unstyled">
              <li><a href="#">React Developer</a></li>
              <li><a href="#">Angular Developers</a></li>
              <li><a href="#">Nodejs Developers</a></li>
              <li><a href="#">Flutter Developers</a></li>
              <li><a href="#">AI/ML Developers</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li>
              <a href="#" class="icoFacebook" title="Facebook"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="#" class="icoLinkedin" title="Linkedin"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a href="#" class="icoLinkedin" title="Linkedin"
                ><i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" class="icoLinkedin" title="Linkedin"
                ><i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">
            &copy; Copyright 2021 - TASKAPP. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
