<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../../assets/people-3245739.png"
        alt=""
        height="28"
        class="ml-0 mr-2"
      />
      <span>GROWFREE</span>
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarMain"
      aria-controls="#navbarMain"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse collapse mr-5"
      id="#navbarMain"
      [ngbCollapse]="isCollapsed"
    >
      <!-- profile section  -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mx-2" ngbDropdown>
          <a
            *ngIf="userIsAuthenticated"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ngbDropdownToggle
            >{{ username }}</a
          >
          <div class="dropdown-menu" ngbDropdownMenu>
            <a
              class="dropdown-item"
              ngbDropdownItem
              routerLink="/project-request-page"
              >My Requests</a
            >
            <a class="dropdown-item" ngbDropdownItem (click)="onLogout()"
              >Logout</a
            >
          </div>
        </li>
        <!-- project section -->
        <li class="nav-item dropdown mx-2" ngbDropdown>
          <a
            *ngIf="userIsAuthenticated"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ngbDropdownToggle
            >Projects</a
          >
          <div class="dropdown-menu" ngbDropdownMenu>
            <li *ngIf="userIsAuthenticated">
              <a class="dropdown-item" routerLink="/latest-projects"
                >Latest Projects</a
              >
            </li>

            <li *ngIf="userIsAuthenticated">
              <a
                class="dropdown-item"
                routerLink="/upload-project"
                *ngIf="role === 'user' || role === 'admin'"
                >Upload Project</a
              >
            </li>
          </div>
        </li>

        <!-- developers  -->
        <li class="nav-item mx-2">
          <a
            *ngIf="userIsAuthenticated"
            class="nav-link"
            routerLink="/developers-page"
            routerLinkActive="active"
            >Developers</a
          >
        </li>
        <!-- developers end here -->
        <!-- more goes here -->
        <li class="nav-item dropdown mx-2" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ngbDropdownToggle
          >
            More
          </a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <li>
              <a class="dropdown-item" ngbDropdownItem routerLink="/ourStory">
                Our Story</a
              >
            </li>
            <li>
              <a class="dropdown-item" ngbDropdownItem routerLink="/">
                Culture</a
              >
            </li>
            <li>
              <a class="dropdown-item" ngbDropdownItem routerLink="/">
                Our Blog</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="us-page">Why Us</a>
            </li>
          </div>
        </li>

        <!-- ends here -->
        <li class="nav-item mx-2">
          <a
            class="nav-link"
            routerLink="/current-opening"
            *ngIf="userIsAuthenticated"
            routerLinkActive="active"
            >Jobs</a
          >
        </li>

        <li class="nav-item mx-2">
          <a
            class="nav-link"
            routerLink="/login"
            *ngIf="!userIsAuthenticated"
            routerLinkActive="active"
            >Resister</a
          >
        </li>
        -
        <li class="nav-item" *ngIf="userIsAuthenticated">
          <a
            class="nav-link"
            routerLink="/admin/dashboard"
            *ngIf="role === 'admin'"
            routerLinkActive="active"
            >Admin</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- scroll to top -->
<a
  id="back-to-top"
  href="#"
  class="btn btn-light btn-lg back-to-top text-warning"
  role="button"
  ><i class="fa fa-chevron-up"></i
></a>
