<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../../assets/people-3245739.png"
        alt=""
        height="28"
        class="ml-0 mr-2"
      />
      <span>GROWFREE</span>
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarMain"
      aria-controls="#navbarMain"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse collapse mr-5"
      id="#navbarMain"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" ngbDropdown>
          <a
            *ngIf="userIsAuthenticated"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ngbDropdownToggle
            >{{ username }}</a
          >
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" ngbDropdownItem href="#">Edit Profile</a>
            <a class="dropdown-item btn" ngbDropdownItem (click)="onLogout()"
              >Logout</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Hire Developers
          </a>
          <ul class="dropdown-menu bg-info">
            <li>
              <a class="dropdown-item" routerLink="/angular-developers">
                Angular Developers</a
              >
            </li>
            <li><a class="dropdown-item" href="#"> Node Developers </a></li>
            <li><a class="dropdown-item" href="#"> Python Developers</a></li>
            <li>
              <a class="dropdown-item" routerLink="/java-developers">
                Java Developers</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact-us">ContactUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ourStory">Our Story</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!userIsAuthenticated"
            >Resister</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/admin/dashboard"
            *ngIf="userIsAuthenticated && isAdmin"
            >Admin</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
