<div
  class="spinner d-flex justify-content-center text-warning text-bold"
  *ngIf="isLoading"
>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<section id="about" class="about mt-2" *ngIf="!isLoading">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>{{ developerDetail?.fullname }}</h2>
      <p>
        {{ developerDetail?.about }}
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <img [src]="developerDetail?.imagePath" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Angular Developer &amp; UI/UX Designer</h3>
        <p class="font-italic">
          {{ developerDetail?.experience }}
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="icofont-rounded-right"></i>
                <strong>Profession:</strong> {{ developerDetail?.profession }}
              </li>
              <li>
                <i class="icofont-rounded-right"></i>
                <strong>Website:</strong>
                <a [href]="developerDetail?.portfolio">Portfolio</a>
              </li>
              <li>
                <i class="icofont-rounded-right"></i>
                <strong>Email:</strong> {{ developerDetail?.email }}
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="icofont-rounded-right"></i>
                <strong>Address:</strong> {{ developerDetail?.city }},{{
                  developerDetail?.state
                }},
                {{ developerDetail?.country }}
              </li>
              <li>
                <i class="icofont-rounded-right"></i>
                <strong>Charges:</strong>
                {{ developerDetail?.doller }}$
              </li>
              <li>
                <i class="icofont-rounded-right"></i>
                <strong>Availibility:</strong> {{ developerDetail?.available }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-light">
  <div class="text-center center-block">
    <h1 class="txt-railway text-primary text-bold">Find Me</h1>
    <br />
    <a [href]="developerDetail?.facebook" target="_blank"
      ><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i
    ></a>

    <a [href]="developerDetail?.linkedIn" target="_blank"
      ><i id="social-tw" class="fa fa-linkedin-square fa-3x social"></i
    ></a>
    <a [href]="developerDetail?.github" target="_blank"
      ><i id="social-em" class="fa fa-github-square fa-3x social"></i
    ></a>
    <a [href]="developerDetail?.instagram" target="_blank"
      ><i id="social-gp" class="fa fa-instagram fa-3x social"></i
    ></a>
  </div>
</div>
