<!-- <section>
  <div class="container-box">
    <div class="content-fluid">
      <h1 class="mb-40">Our mission</h1>
      <h1 class="font-weight-light">
        Imagine a workplace where employees come to work inspired, feel safe,
        share a common purpose with peers and leaders, do their best work, and
        go home fulfilled. We are on a mission to make this happen.
      </h1>
    </div>
  </div>
</section> -->
<div class="container mt-5 mb-5">
  <div class="row featurette">
    <div class="col-md-7">
      <h6 class="featurette-heading font-weight-light">How it started</h6>
      <h2>Like a lot of good stories, it started with a pain too</h2>

      <p>
        Just like you, we were a growing organization that needed a people
        platform to scale our services business. We evaluated every software in
        the market and were frustrated.<br />
        Thus started Keka. <br />
        The goal was simple. Automate and simplify people processes, so you can
        focus on your core asset - the employees. They in turn will transform
        you from a good to great organization!
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-fluid mx-auto"
        src="https://c.keka.com/static/images/about/how-keka-started.jpg"
        alt="Generic placeholder image"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h6 class="featurette-heading">The present - Vini. Vidi. Vici.</h6>
      <h2>We came. We saw. We disrupted.</h2>
      <p>
        Keka has been a silent revolution in the making from our launch four
        years ago. Our steadfast focus on building an employee centric HR
        platform was well received by more than 3000 businesses across India and
        the world. Today we are India’s #1 platform in the segment with most
        number of new customers adopting the platform. All with zero advertising
        spend and pure customer love.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        class="featurette-image img-fluid mx-auto"
        src="https://c.keka.com/static/images/about/keka-revolution.jpg"
        alt="Generic placeholder image"
      />
    </div>
  </div>

  <!-- /END THE FEATURETTES -->
</div>
