<section id="services" class="services">
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer best of the developers.</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">
            We have team of talented designers and developers making websites
            with suitable technology.
          </h2>
          <div data-aos="fade-up" data-aos-delay="600"></div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img
            src="../../../assets/hero-img-hire.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <p>Choose Yours</p>
      </header>

      <div class="row gy-4">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box red">
            <i class="fa fa-arrow-down icon"></i>
            <h3>Angular Developers</h3>
            <p>
              We have all the angular developer available with all the version
              expert.Choose for new one or innovate your idea.
            </p>
            <a routerLink="/angular-developers" class="read-more"
              ><span>Let's Go</span> <i class="fa fa-arrows-alt"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <i class="fa fa-arrow-down icon"></i>
            <h3>React Developers</h3>
            <p>
              We have all the angular developer available with all the version
              expert.Choose for new one or innovate your idea.
            </p>
            <a href="#" class="read-more"
              ><span>Let's Go</span> <i class="fa fa-arrows-alt"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <i class="fa fa-arrow-down icon"></i>
            <h3>Python Developers</h3>
            <p>
              We have all the angular developer available with all the version
              expert.Choose for new one or innovate your idea.
            </p>
            <a href="#" class="read-more"
              ><span>Let's Go</span> <i class="fa fa-arrows-alt"></i
            ></a>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 mt-3"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <div class="service-box blue">
            <i class="fa fa-arrow-down icon"></i>
            <h3>Java Developers</h3>
            <p>
              We have all the angular developer available with all the version
              expert.Choose for new one or innovate your idea.
            </p>
            <a href="#" class="read-more"
              ><span>Let's Go</span> <i class="fa fa-arrows-alt"></i
            ></a>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 mt-3"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <div class="service-box purple">
            <i class="fa fa-arrow-down icon"></i>
            <h3>AI/ML Engineers</h3>
            <p>
              We have all the angular developer available with all the version
              expert.Choose for new one or innovate your idea.
            </p>
            <a href="#" class="read-more"
              ><span>Let's Go</span> <i class="fa fa-arrows-alt"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->
</section>
