<!-- header section -->

<section class="pb-6 main">
  <div class="container">
    <div class="row flex-center">
      <div class="col-lg-6 col-md-5 order-md-1">
        <img class="img-fluid" src="../../../assets/2.png" alt="" />
      </div>
      <div class="col-md-7 col-lg-6 mt-5 text-center text-md-start">
        <h1 class="text-primary">
          Want anything ? It's so<br />easy with
          <span class="text-warning"> <b>GROWFREE</b> </span>
        </h1>
        <p class="mt-3 mb-4">
          Provide a platform for all your needs with ease and fun using
          <span class="fw-medium">GROWOFREE </span>discover interesting features
          from us.Most of people make the mistake by not giving a best platform
          for their ideas. But we are here for you. <br />
          <span class="text-warning">
            <b> "Come with Idea We ready to develope for You!". </b>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="pricing" class="pricing">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Choose Yours</h2>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="box featured">
          <span class="advanced bg-primary">Pay Per Use</span>
          <h3>Hire Developers</h3>
          <img
            src="../../../assets/developers-hire.png"
            height="200"
            width="200"
            alt=""
          />

          <div class="btn-wrap">
            <a routerLink="/developers-page" class="btn-buy"
              >Explore <span> <i class="fa fa-arrows-alt"></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="box featured">
          <span class="advanced bg-primary">Pay Per Use</span>
          <h3>Upload Projects</h3>
          <img
            src="../../../assets/projects.png"
            height="200"
            width="200"
            alt=""
          />

          <div class="btn-wrap">
            <a href="#" class="btn-buy"
              >Explore

              <span> <i class="fa fa-arrows-alt"></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="box featured">
          <span class="advanced bg-primary">Pay Per Use</span>
          <h3>Hire Teams</h3>
          <img
            src="../../../assets/projects.png"
            height="200"
            width="200"
            alt=""
          />

          <div class="btn-wrap">
            <a href="#" class="btn-buy"
              >Explore

              <span> <i class="fa fa-arrows-alt"></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
