<section id="services" class="services">
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer best of the developers.</h1>
          <h5 data-aos="fade-up" data-aos-delay="400">
            Let us take your ideas and give them flight. Our team is ready with
            their skills and dedication to bring your ideas to light. Drop us a
            note here and we will get back to you within 24 hours.
          </h5>
          <div></div>
        </div>
        <div class="col-lg-6 hero-img">
          <img src="../../../assets/values-3.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
</section>

<div class="container p-100 why-us faq">
  <div class="text-center">
    <div class="title text-warning">Interested to know more about us?</div>
  </div>
  <div class="content-wrap col-md-11 col-md-offset-1">
    <div class="headline">Why choose GrowFree over others?</div>
    <div class="m-t-30">
      <p>
        We have been in the industry since 2020 have transformed the businesses
        of around 20+ partners by building around 30+ web and mobile
        applications. We are registered service suppliers of
        <span style="font-weight: 400">Google US since 2020</span> and has been
        a trust-worthy tech partner for more than 20+ MNCs and many start-ups.
      </p>
      <p>
        We are not just developers, we are innovators! We build scalable
        solutions that can drive your business to success.
      </p>
    </div>
  </div>

  <div class="content-wrap col-md-11 col-md-offset-1 m-t-50">
    <div class="headline">What's our primary skillset?</div>
    <div class="m-t-30">
      <p>
        We are well-versed with web and mobile product development using
        <span style="font-weight: 400"
          >React Native, Google Flutter for mobile & React, Angular, Vue for web
          and NodeJS, ExpressJS, FeathersJS, Laravel, PHP</span
        >
        etc.
      </p>
      <p>
        The services provided ranges from business analysis, web and mobile
        development, UI/UX design, product management, delivery & support.
      </p>
    </div>
  </div>

  <div class="content-wrap col-md-11 col-md-offset-1 m-t-50">
    <div class="headline">Our Team Is Your Team</div>
    <div class="m-t-30">
      <p>
        We'll have a team of dedicated developers ready to start creating the
        product for you. Our developers are trained to improvise, adapt and
        overcome any challenge for our partner. We believe that some of the most
        innovative products are created when we face new challenges and start
        experimenting on different concepts.
      </p>
    </div>
  </div>
  <div class="content-wrap col-md-11 col-md-offset-1 m-t-50">
    <div class="headline">
      Can we help in both front-end and back-end development?
    </div>
    <div class="m-t-30">
      <p>Yes, we will be.</p>
      <p>To give you an overview, we are skilled in the below stacks:</p>

      <div class="row">
        <div class="col-sm-4">
          <div class="text mt-30">
            <div class="text head">
              <img src="../../../assets/frontend.png" height="50px" />Front-End
              Development:
            </div>
            <div class="m-t-30">
              <ul>
                <li>React</li>
                <li>Angular</li>
                <li>Vue</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="text m-t-30">
            <div class="text head">
              <img src="../../../assets/backend.png" height="50px" />Back-End
              Development:
            </div>
            <div class="m-t-30">
              <ul>
                <li>PHP/Laravel</li>
                <li>Node.js/Express.js</li>
                <li>Firebase</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="text m-t-30">
            <div class="text head">
              <img src="../../../assets/phone.png" height="50px" />Mobile
              development:
            </div>
            <div class="m-t-30">
              <ul>
                <li>React Native</li>
                <li>Flutter</li>
                <li>Vue Native</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="text m-t-30">
            <div class="text head">
              <img src="../../../assets/js.png" height="50px" />JavaScript
              Stack:
            </div>
            <p class="m-t-30">
              NodeJS frameworks like ExpressJS, SailsJS, FeathersJS, HAPI with
              NoSQL database, MongoDB (with Mongoose ORM) and Redis.
            </p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="text m-t-30">
            <div class="text">
              <img src="../../../assets/lamp.png" height="50px" />LAMP Stack:
            </div>
            <p class="m-t-30">
              Linux, Apache, PHP / MySQL with Laravel framework. We have
              developed apps which uses scheduling, CRON Jobs, Queue processing
              etc.
            </p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="text m-t-30">
            <div class="text">
              <img src="../../../assets/servers.jpg" height="50px" />Servers:
            </div>
            <p class="m-t-30">
              Amazon Services (for scaling / hosting): AWS technologies like
              Amazon EC2, Amazon SNS & SES.
            </p>
            <p>Envoyer for Laravel</p>
          </div>
        </div>

        <div class="content-wrap col-md-11 col-md-offset-1 m-t-50">
          <div class="headline">
            How can you engage us if you have a requirement document or designs
            ready?
          </div>
          <div class="m-t-30">
            <p>We'll plan your development according to your needs.</p>
            <p>
              If can share the have requirement documents/designs/ user
              flow/wireframes, that will help us give an estimate and take up
              the development on a fixed timeline and cost.
            </p>
          </div>
        </div>

        <div class="content-wrap col-md-11 col-md-offset-1 m-t-50">
          <div class="headline">How Do We Plan The Projects?</div>
          <div class="m-t-30">
            <p>
              We completely adopt the Agile project development strategy with
              weekly / bi-weekly sprints and well-explained user stories. We
              believe that communication is the key because of which we have
              daily internal stand-ups with you so that the work being done by
              us remains completely transparent and the team can communicate
              about the status and challenges timely.
            </p>
          </div>
        </div>

        <div class="content-wrap col-md-11 col-md-offset-1 m-t-50">
          <div class="headline">When are we available for you?</div>
          <div class="m-t-30">
            <p>
              We are based in the Indian Standard Time (+5:30 GMT). Our usual
              working hours are from 11 AM - 8 PM IST ( 5:30 AM - 2:30 PM GMT)
              but our availability is usually flexible according to your needs.
            </p>
          </div>
        </div>

        <div class="content-wrap col-md-11 col-md-offset-1 m-t-50">
          <div class="headline">Where are we located?</div>
          <div class="m-t-30">
            <p>
              We have one offices. Our development team is based in Phagwara,
              Punjab, India.
            </p>
          </div>
        </div>

        <div class="content-wrap col-md-11 col-md-offset-1 m-t-50">
          <div class="headline">Do we have on-site engagement models?</div>
          <div class="m-t-30">
            <p>
              We prefer our people working from our office/home premises. But,
              if it's really a mandatory requirement, we work on some mutually
              agreeable workarounds.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sub-footer brand-gray">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <h1 class="title">
      start a journey With Us
      <span class="bttn">
        <a routerLink="/base">Start Now</a>
      </span>
    </h1>
  </div>
</div>
