<section id="services" class="services">
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 d-flex flex-column justify-content-center">
          <h1>
            Let Me Take <br />
            Your Ideas <br />
            And Give Them Flight.
          </h1>

          <p>
            Please read all the
            <a routerLink="/terms">terms & conditions</a> before proceed.
          </p>
        </div>
        <div class="col-lg-8 d-flex flex-column justify-content-center">
          <div class="card">
            <div
              class="card-header bg-warning text-center text-primary text-uppercase"
            >
              <h1>Leave Request</h1>
            </div>
            <div class="card-body">
              <form #requestForm="ngForm" (ngSubmit)="onSubmit(requestForm)">
                <!-- name -->
                <div class="form-group row">
                  <label for="name" class="col-sm-2 col-form-label"
                    >Full Name:</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      name="fullname"
                      [(ngModel)]="fullname"
                      class="form-control"
                      placeholder="Enter name"
                    />
                  </div>
                </div>

                <!-- email -->
                <div class="form-group row">
                  <label for="name" class="col-sm-2 col-form-label">
                    Email :</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="email"
                      name="email"
                      [(ngModel)]="email"
                      class="form-control"
                      placeholder="Enter email"
                    />
                  </div>
                </div>

                <!-- company-->
                <div class="form-group row">
                  <label for="bio" class="col-sm-2 col-form-label"
                    >Company Description:</label
                  >
                  <div class="col-sm-10">
                    <textarea
                      type="text"
                      class="form-control"
                      placeholder="write something about company"
                      class="form-control"
                      name="companyDes"
                      [(ngModel)]="companyDes"
                    ></textarea>
                  </div>
                </div>

                <div class="text-center">
                  <button class="btn btn-primary" type="submit">
                    Submit Request
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
