<header>
  <div class="container text-center">
    <!-- Logo -->
    <div class="logo">
      <h1><b>All currently Working Developers</b></h1>
      <hr />
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-card-2">
        <img
          src="../../../../assets/siddhesh-details-image.png"
          class="img img-responsive"
        />
        <div class="profile-name text-warning">Siddhesh Tripathi</div>
        <div class="profile-username text-warning">Angular Developer</div>
        <div class="profile-icons">
          <a href="#"><i class="fa fa-facebook"></i></a
          ><a href="#"><i class="fa fa-twitter"></i></a
          ><a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
