<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Meet The Team</h2>
      <p>
        We're a sincere company with a straightforward vision.We believe that
        there is an amazing amount to be learned by working in a real world web
        production environment, alongside other like-minded teens.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="pic">
            <img
              src="../../../assets/siddhesh-details-image.png"
              class="img-fluid"
              alt="siddhesh"
            />
          </div>
          <div class="member-info">
            <h4>Siddhesh Tripathi</h4>
            <span>MEAN Stack Developer</span>
            <p>FOUNDER</p>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""> <i class="fa fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="pic">
            <img src="../../../assets/churan.png" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Sandeep Yadav</h4>
            <span>AI/ML Engineer</span>
            <p>CTO</p>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""> <i class="fa fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="pic">
            <img
              src="../../../assets/android-pic.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Anand Tripathi</h4>
            <span>Java Developer</span>
            <p>CEO & CO-FOUNDER</p>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""> <i class="fa fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="pic">
            <img src="../../../assets/shahrukh.png" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Shahrukh Ansari</h4>
            <span>Full Stack Developer</span>
            <p>Currently Working at LPU</p>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""> <i class="fa fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
