/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootswatch/dist/yeti/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ngx-toastr/toastr";
html,
body {
  font-family: "Lato", sans-serif;
  font-family: "Lexend Mega", sans-serif;
  margin: 0;
}
