<section>
  <h3 class="text-center">All Requests</h3>
  <mat-tab-group animationDuration="2000ms">
    <mat-tab label="Developer Requests">
      <div *ngIf="dataSource.length > 0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="Sn">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Developer Name Column -->
          <ng-container matColumnDef="Developer Name">
            <th mat-header-cell *matHeaderCellDef>Developer Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.developer.fullname }}
            </td>
          </ng-container>

          <!-- date Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.date | date }}
            </td>
          </ng-container>

          <!-- Project Type Column -->
          <ng-container matColumnDef="Project Type">
            <th mat-header-cell *matHeaderCellDef>Project Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.projectType }}
            </td>
          </ng-container>

          <!-- Action -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Acknowledged</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip color="warn" selected *ngIf="!element.status"
                  >not Acknowledged</mat-chip
                >
                <mat-chip color="primary" selected *ngIf="element.status"
                  >Acknowledged</mat-chip
                >
              </mat-chip-list>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <div *ngIf="dataSource.length == 0 && !isLoading">No data Found</div>
      <div *ngIf="isLoading" class="text-center">
        <mat-spinner color="warn"></mat-spinner>
      </div>
    </mat-tab>
    <mat-tab label="Uploaded Projects">
      <div *ngIf="dataSource1.length > 0">
        <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
          <ng-container matColumnDef="Sn">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Developer Name Column -->
          <ng-container matColumnDef="Project Name">
            <th mat-header-cell *matHeaderCellDef>Project Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.projectName }}
            </td>
          </ng-container>

          <!-- date Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.date | date }}
            </td>
          </ng-container>

          <!-- Project Type Column -->
          <ng-container matColumnDef="Budget">
            <th mat-header-cell *matHeaderCellDef>Budget</th>
            <td mat-cell *matCellDef="let element">
              {{ element.esimatedBudget }}
            </td>
          </ng-container>
          <!-- Action -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip color="warn" selected *ngIf="!element.status"
                  >not Acknowledged</mat-chip
                >
                <mat-chip color="primary" selected *ngIf="element.status"
                  >Acknowledged</mat-chip
                >
              </mat-chip-list>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>
      </div>
      <div *ngIf="dataSource1.length == 0 && !isLoading">No data Found</div>
      <div *ngIf="isLoading1" class="text-center">
        <mat-spinner color="warn"></mat-spinner>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
