/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 90px 0;
  overflow: hidden;
}

.mat-tab-group {
  margin-bottom: 48px;
}
div {
  padding: 20px 0;
}
table {
  width: 90%;
  margin: auto;
}
