<!-- Resister template -->

<div class="main">
  <header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner container">
        <div class="row">
          <div class="col-lg-8 d-none d-lg-block">
            <h1 class="display-4">
              Build Your platfrom with us. We are team of
              <strong>GROWFREE </strong>
            </h1>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                We provide a user frindly interface.
              </div>
            </div>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">Safe and Secure</div>
            </div>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">Easy to use</div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card bg-primary card-form">
              <div class="card-body">
                <h3>Sign In <strong>Now</strong></h3>
                <br />
                <form [formGroup]="signUpForm" (submit)="onSubmit()" novalidate>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="username"
                      formControlName="username"
                      [ngClass]="{
                        'is-invalid':
                          signUpForm.get('username').errors &&
                          signUpForm.get('username').touched
                      }"
                      class="form-control form-control-lg"
                    />

                    <div
                      *ngIf="signUpForm.get('username').hasError('required')"
                      class="invalid-feedback ml-2"
                    >
                      username is required!
                    </div>
                    <div
                      *ngIf="signUpForm.get('username').hasError('minlength')"
                      class="invalid-feedback ml-2"
                    >
                      username must be 4 char long!
                    </div>
                    <div
                      *ngIf="signUpForm.get('username').hasError('pattern')"
                      class="invalid-feedback ml-2"
                    >
                      username must be only letter!
                    </div>
                  </div>

                  <div class="form-group">
                    <input
                      type="email"
                      placeholder="email"
                      formControlName="email"
                      [ngClass]="{
                        'is-invalid':
                          signUpForm.get('email').errors &&
                          signUpForm.get('email').touched
                      }"
                      class="form-control form-control-lg"
                    />

                    <div
                      *ngIf="signUpForm.get('email').hasError('required')"
                      class="invalid-feedback ml-2"
                    >
                      email is required!
                    </div>

                    <div
                      *ngIf="signUpForm.get('email').hasError('pattern')"
                      class="invalid-feedback ml-2"
                    >
                      email must be valid!
                    </div>
                  </div>

                  <div class="form-group">
                    <input
                      type="password"
                      placeholder="password"
                      formControlName="password"
                      [ngClass]="{
                        'is-invalid':
                          signUpForm.get('password').errors &&
                          signUpForm.get('password').touched
                      }"
                      class="form-control form-control-lg"
                    />

                    <div
                      *ngIf="signUpForm.get('password').hasError('required')"
                      class="invalid-feedback ml-2"
                    >
                      password is required!
                    </div>

                    <div
                      *ngIf="signUpForm.get('password').hasError('minlength')"
                      class="invalid-feedback ml-2"
                    >
                      password must be 3 char long!
                    </div>
                  </div>

                  <input
                    type="submit"
                    value="Resister"
                    [disabled]="!signUpForm.valid"
                    class="btn btn-outline-warning btn-block"
                  />
                </form>
                <p class="text-center mt-2">OR</p>
                <button type="submit" class="btn bg-danger btn-block mt-2">
                  Sign In With
                  <span>
                    <i class="fa fa-google bg-danger text-light"></i
                  ></span>
                  <span class="text-light">+</span>
                </button>
                <div class="pt-2">
                  <div class="text-center d-flex justify-content-between mt-4">
                    <p>
                      Do'nt have an account?
                      <a routerLink="/login" class="font-italic text-dark">
                        <u>SignIn!</u></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
