<div class="row">
  <div class="col-lg-8">
    <div class="container my-4">
      <div class="card">
        <div class="card-body m-0 p-0">
          <div class="card-title">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <a class="btn btn-secondary" routerLink="/">
                <i class="fa fa-backward"></i> Back to Dashboard
              </a>
            </nav>
          </div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="../../../assets/WIN_20210203_20_39_21_Pro.mp4"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mt-2 right">
    <div class="card">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        advertisement
      </nav>
      <div class="card-body m-0 p-0">
        <img src="../../../assets/anand.jpeg" alt="advertisement" />
      </div>
    </div>
  </div>
</div>
<hr />
<footer class="container">
  <p>
    All @copyright reserved to: Shahrukh Ansari
    <a routerLink="/privacy">Privacy</a> &middot;
    <a routerLink="/terms">Terms</a>
  </p>
</footer>
